@page
@model AgenciaTurismo.Pages.Cidades.DeleteModel

@{
	ViewData["Title"] = "Excluir Cidade";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<div>
	<h4>Cidade de Destino</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CidadeDestino.Nome)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.CidadeDestino.Nome)</dd>
        
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CidadeDestino.Estado)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.CidadeDestino.Estado)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CidadeDestino.PaisDestino)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.CidadeDestino.PaisDestino.Nome)</dd>
	</dl>
    
	<form method="post">
		<input type="hidden" asp-for="CidadeDestino.Id" />
		<input type="submit" value="Confirmar Exclusão" class="btn btn-danger" /> |
		<a asp-page="./Index">Voltar para Lista</a>
	</form>
</div>