@page
@model AgenciaTurismo.Pages.Paises.DeleteModel

@{
	ViewData["Title"] = "Excluir País";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<div>
	<h4>País de Destino</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.PaisDestino.Nome)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.PaisDestino.Nome)</dd>
        
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.PaisDestino.CodigoISO)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.PaisDestino.CodigoISO)</dd>
        
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.PaisDestino.Continente)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.PaisDestino.Continente)</dd>
	</dl>
    
	<form method="post">
		<input type="hidden" asp-for="PaisDestino.Id" />
		<input type="submit" value="Confirmar Exclusão" class="btn btn-danger" /> |
		<a asp-page="./Index">Voltar para Lista</a>
	</form>
</div>